include views/mixins/mixins
doctype html
html(
    lang='es'
    ng-app='styleguideWeb'
    ng-controller='ParentCtrl as parentCtrl'
)
    head
        meta(charset='utf-8')
        title Styleguide Web
        meta(
            content=''
            name='description'
        )
        //- link(
        //-     href='favicon.ico'
        //-     rel='shortcut icon'
        //- )
        link(
            href='styles/main.css'
            rel='stylesheet'
        )
    body
        .main
            .row
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
            .row
              .col-md-8 .col-md-8
              .col-md-4 .col-md-4
            .row
              .col-md-4 .col-md-4
              .col-md-4 .col-md-4
              .col-md-4 .col-md-4
            .row
              .col-md-6 .col-md-6
              .col-md-6 .col-md-6
        div(ui-view)

        //
            -->
            <!-- build:js js/all.js -->
            <!-- bower:js -->
            <!-- endbower -->
            <!--
        script(src='js/index.js')
        //
            -->
            <!--
        script(src='js/services/lazy.js')
        //
            -->
            <!--
        script(src='js/controllers/parent.ctrl.js')
        //
            -->
            <!--
        script(src='app/home/routes.js')
        //
            -->
            <!-- endbuild -->
            <!--