include views/_mixins/mixins
doctype html
html(
    lang='es'
    ng-app='styleguideWeb'
    ng-controller='ParentCtrl as parentCtrl'
)
    head
        meta(charset='utf-8')
        title Styleguide Web
        meta(
            content=''
            name='description'
        )
        //- link(
        //-     href='favicon.ico'
        //-     rel='shortcut icon'
        //- )
        link(
            href='styles/main.css'
            rel='stylesheet'
        )
    body
        .main
            .row
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
               .col-md-1 .col-md-1
            .row
              .col-md-8 .col-md-8
              .col-md-4 .col-md-4
            .row
              .col-md-4 .col-md-4
              .col-md-4 .col-md-4
              .col-md-4 .col-md-4
            .row
              .col-md-6 .col-md-6
              .col-md-6 .col-md-6

            div(ui-view)

        +script-min-ini()

        +script-min('js/index.js')
        +script-min('js/services/lazy.js')
        +script-min('js/controllers/parent.ctrl.js')
        +script-min('app/home/routes.js')

        +script-min-end()